node_modules
dist
.DS_Store
.env
__pycache__/
*.pyc

# Ignore heavy video outputs & screenshots
out/*.mp4
out/*.png
out/*.jpg
out/*.txt
out/*.json
!out/spy_cache/
!out/spy_cache/*.json

/*.png
!static/
!static/**

whisper.cpp
data_cache/ai_config.json
